body {
    background-color: rgb(242, 242, 242);
    padding: 1.7em;
}

.Main {

}

.topNavigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.topNavigation button{
    font-size: xx-large;
}
.topNavigation a{
    font-size: xx-large;
}

#MainBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#singleItem {
    width: 19em;
    border: 1px solid white;
    text-align: center;
}